//colors

$color-white: #fff;
$color-grey-light: #e4e1e1;
$color-grey-semi: #f5f2f2;
$color-grey-dark: #bfbcbc;
$color-grey-ultra-dark: #707070;
$color-green: #11b06f;
$color-green-light: #14d486;
$color-green-lighter: #7ed4b1;
$color-red: #ff0504;